.siteNavbar {
width: 100vw;
  height: 4rem;
  background-color: #313131; 

  display: flex;
  padding: 2rem;
overflow: hidden;
align-items: center;
&>.left{
    display: flex;
    justify-content: center;
    width: 100%;

    &>ul{
        display: flex;
        list-style-type: none;
        gap: 2rem;
        &>li{

            &>a{
                padding: 5rem 0;

                font-size: 15px;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

    }
}
&>.right{
    display: flex;
    justify-content: center;
    width: 100%;

    &>ul{
        display: flex;
        list-style-type: none;
        gap: 2rem;
        &>li{
            
            &>a{
                padding: 30px;
                font-size: 15px;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

    }
}
&>.img{
display: flex;
justify-content: center;
width: 100%;
    &>img{
    
        height: 7rem;
    }
}

}

