@font-face {
    font-family: 'esas';
    src: url(./Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'esas_bold';
    src: url(./Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'esas_italic';
    src: url(./Poppins/Poppins-Italic.ttf);
}
@font-face {
    font-family: 'ikincil';
    src: url(./Allura/Allura-Regular.ttf);
}